/*
"Groups Page" Page
*/

.group-div{
  max-width: 100%;
  height: 150px;
  background-color: #eee;
  font-family: 'Poppins', sans-serif;
  transition: all ease 0.25s;
  padding: 16px;
}

/*
Individual Group Page
*/

.group-container {
  width:100%;
  max-height: calc(100vh - 60px);
  background-color: white;
}

.group-col {
  display: inline-block;
}

.group-members-col {
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #eee; 
}

.group-main-col {
  width: calc(100% - 400px);
  height: calc(100vh - 60px);
  background-color: #fff;
}

.group-other-col {
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #eee;
}

